# Exemplo de CRUD no MongoDB

Exemplo de CRUD completo em MongoDB

Autor: Christiano Anderson
Propus Data Science

## Estabelecendo a conexão com o banco

In [11]:
from pymongo import MongoClient

cli = MongoClient()

db = cli['treinamento']

col = db['cadastro']

## Definindo um documento para ser inserido

In [12]:
cad = {
    'nome': 'Christiano Anderson',
    'empresa': 'Propus Data Science',
    'cursos': ['python','mongodb']
}

## Inserindo o documento na base

In [13]:
cad_id = col.insert_one(cad)

In [16]:
print cad_id.inserted_id

56d08002cf27e32e44ae8291

## Recuperando documentos

In [17]:
cadastro = db['cadastro']

In [18]:
cadastro.find_one({})

{u'_id': ObjectId('56d08002cf27e32e44ae8291'),
 u'cursos': [u'python', u'mongodb'],
 u'empresa': u'Propus Data Science',
 u'nome': u'Christiano Anderson'}

## Inserindo outros documentos

In [19]:
col.insert_one({
        'nome':'Carolina',
        'idade': 29,
        'empresa': 'ACME',
        'cursos': ['mongodb','ruby'],
        'contatos': {
            'celular':'5199998888',
            'email': 'carol@tmp.com',
            'ramal': '2222'
            }
    })

In [26]:
col.insert_one({
        'nome':'Juliana',
        'idade': 25,
        'empresa': 'ACME',
        'cursos': ['mongodb','ruby','python'],
        'contatos': {
            'celular':'5199554433',
            'email': 'july@tmp.com',
            'ramal': '2221'
            }
    })

In [20]:
col.insert_one({
        'nome':'Rafael',
        'idade': 30,
        'empresa': 'XYZ',
        'cursos': ['mongodb','php'],
        'contatos': {
            'celular':'5188882222',
            'email': 'rafael@xyz.com',
            'ramal': '5511',
            'tel_residencial': '5122223333'
            }
    })

## Pesquisando todos os usuários

In [22]:
resultados = col.find({})

for r in resultados:
    print r['nome']

Christiano Anderson
Carolina
Rafael

## Pesquisando quem tem Python na matéria

In [28]:
resultados = col.find({'cursos':'python'})

for r in resultados:
    print r['nome']

Christiano Anderson
Juliana

## Pesquisando quem tem menos de 28 anos

In [30]:
resultados = col.find({'idade': {'$lt': 28}})

for r in resultados:
    print r['nome']

Juliana

## Modificando documento

No exemplo abaixo, vamos adicionar cidade a um documento

In [33]:
res = col.update_one({'nome':'Christiano Anderson'},{'$set': {'cidade':'Porto Alegre'}})

print res

<pymongo.results.UpdateResult object at 0x7efdf4739190>

## Excluindo documento

No exemplo abaixo, vamos apagar o documento da usuária Juliana

In [34]:
count = col.count({})

print count

res = col.delete_one({'nome':'Juliana'})

count = col.count({})

print count

4
3